{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Layout du BlogBundle{% endblock %}


{% block body %}
    <div class="page-header"></div>
    
    {% block DominiqueBlog_body %}
    {% endblock %}
    
{% endblock %}